<% include ./partials/header.ejs %>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo sapiente suscipit hic, dolor, eaque beatae harum pariatur reprehenderit quidem enim ut libero odit porro laudantium exercitationem! Nam aspernatur ipsum consequuntur?</p>
<button>Télécharger</button>

<% include ./partials/footer.ejs %>

