<form action="/api/register" method="POST">    
    <input type="text" name="first_name" placeholder="Prénom">
    <input type="text" name="last_name" placeholder="Nom">
    <input type="email" name="email" placeholder="Email">
    <button type="submit">Télécharger</button>
</form>